.product-details {
    padding: 20px;
    background-color: #f8f9fa;
}

.product-details h1 {
    color: #131921;
}

.product-details h4 {
    color: #febd69;
}



.product-details img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.product-details .btn {
    background-color: #febd69;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}
